<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
	
<mapper namespace="com.kanne.dailyreport.dao.CommonCodeDao">
	
	<select id="select" parameterType="int" resultType="CommonCodeVO">
		SELECT * FROM commoncode WHERE detail_code=#{detail_code}
	</select>
	<select id="selectCommonCode" parameterType="int" resultType="CommonCodeVO">
		select code1.detail_code,code1.name,code2.name as name2, code3.name as name3,code1.reg_date from commoncode code1
			INNER JOIN commoncode code2 on code1.common_code = code2.detail_code
			INNER JOIN commoncode code3 on code2.common_code = code3.detail_code
			where code3.detail_code = 2000;
	</select>
	<select id="getimmersion" resultType="CommonCodeVO">
		select code1.detail_code,code1.name,code2.name as name2,code1.reg_date from commoncode code1
			INNER JOIN commoncode code2 on code1.common_code = code2.detail_code
			where code2.detail_code = 1000
			ORDER BY code1.detail_code DESC
	</select>
	<select id="getresult" resultType="CommonCodeVO">
		select code1.detail_code,code1.name,code2.name as name2,code1.reg_date from commoncode code1
			INNER JOIN commoncode code2 on code1.common_code = code2.detail_code
			where code2.detail_code = 100
			ORDER BY code1.detail_code DESC
	</select>
	<select id="selectAll" resultType="CommonCodeVO">
		SELECT * FROM commoncode WHERE del_date IS NULL
	</select>
	<insert id="insert" parameterType="CommonCodeVO">
		INSERT INTO commoncode VALUES (#{detail_code},#{common_code},#{name},SYSDATE(),NULL,NULL)
	</insert>
	<update id="update" parameterType="CommonCodeVO">
		UPDATE commoncode 
		SET NAME = #{name},
			up_date = SYSDATE()
		WHERE detail_code=#{detail_code}			
	</update>
	<update id="delete" parameterType="CommonCodeVO">
		UPDATE commoncode 
		SET del_date = SYSDATE()
		WHERE detail_code=#{detail_code}
	</update>	
	
	

</mapper>






