.plusHabitCard:hover{
	cursor: pointer;
	border: 3px solid green;
	font-size: 1.5em;
}

.inputHabit{
	width:100%;
	height : 55px;
	font-size: 20px;
		
}

.delIcon{
	float:right;
	font-size: 2em;
}

.delIcon:hover{
	cursor: pointer;
}