table > tbody > tr > td{
	font-size:13px;
}

table > thead > tr > th{
	text-align: center !important;
}

.report-time{
	text-align: center;
	width:6%;
}

input[name="contents"]{
	width:100%;
}

.feedbackArea{
	width: 100%;
}

#modify-btn{
	color:white;
}

.incorrectTime{
	color: red;
	font-weight: bold;
}

#cautionText{
	color: red;
}